{% extends "layout.html" %}
{% block title %}PyKS - Background {% endblock %}
{% block navbar_background_active %}class="active"{% endblock %}
{% block content %}

<h1>{{ self.title() }}</h1>

<h3>Who can read/record/tap your internet traffic?</h3>
<p>
<ul>
<li>the sysadmins at work (regardless of using a secure HTTPS connections due to the proxy properties)</li>
<li>intelligence services of your country, friendly countries or other nations that have 
economic or other reasons to surveil you.</li>
<li>your ISP</li>
<li>public WLAN</li>
<li>...</li>
</ul>
</p>

<h3>Why should I bother about leaking social graphs?</h3>
<p>
<ul>

<!-- TODO
<li>link to terminal21 EU-Umfrage</li>
-->

<li>we kill because of meta data
<!-- TODO
Zitat von Ex-NSA-Chef Hayden
-->
</li>

<li>you visit a course at evening school to learn 'arab'. you exchange mail adresses.
If one of your course mates ís 'suspective' you could be surveiled as well since
you 'know' him.
<!-- TODO
Quellenangabe über wieviele Knoten hinweg. Golem.de?-->
</li>

<li>But not only prosecuting authorities can 
benefit from social network graph information collected this way. Also 
criminal attackers can execute subtle social engineering attacks by 
spoofing the identity of the sender of an e-mail and by using a personal
looking salutation. Also when the style of writing cannot be spoofed 
this can reduce the mistrust against the mail content and the reciever 
might open a malware attachment or click a malware hyperlink.
<!-- TODO
HIER WÄRE NOCH EINE EXTERNE QUELLE ZUR UNTERMAUERUNG NÜTZLICH.
-->
</li>

<li>...</li>

</ul>
</p>

<h3>But the state is will prosecute terrorists with those informations.</h3>
<p>
<ul>
<li>Who is a terrorist?</li>
<li>Journalists?</li>
<li>Wistleblowsers?</li>
<li>...</li>
</ul>
</p>

{% endblock %}
